html
	head
		meta(http-equiv="Content-Security-Policy", content="upgrade-insecure-requests")
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/loader.css')
		link(rel='stylesheet', href='/stylesheets/tooltip.css')
		link(rel='stylesheet', href='/stylesheets/border.css')
		link(rel='stylesheet', href='/stylesheets/animation.css')
		link(rel='stylesheet', href='/stylesheets/chromefix.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='icon', href='/images/favicon.png')
		link(rel='shortcut icon', href='/images/favicon.png')
		script(src="https://code.jquery.com/jquery-3.5.1.min.js", integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=", crossorigin="anonymous")
		script(src="/javascripts/query.js")
		script(src="/javascripts/load.js")
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/bootstrap.bundle.min.js")
		script(src="https://kit.fontawesome.com/2d4a808e3d.js" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js")
		script.

			function errMsg(){ // 에러 처리
				//
				console.log("error");
			}

			function cdnVersion(ver){
				var comma = 0;
				var major;
				for(var c in ver){
					if(ver.charAt(c) == '.'){
						comma++;
						if(comma == 2){
							major = ver.substring(0, c);
							break;
						}
					}

				}

				return major + '.1';
			}

			var now;
			var recentVersion = '11.1.1';

			function timeDiff(timestamp){
				var date = "";

				var diff = now - timestamp;

				if(diff < 1000 * 60)
					date += Math.floor(diff / 1000) + '초';
				else if(diff < 1000 * 60 * 60)
					date += Math.floor(diff / (1000 * 60)) + '분';
				else if(diff < 1000 * 60 * 60 * 24)
					date += Math.floor(diff / (1000 * 60 * 60)) + '시간';
				else
					date += Math.floor(diff / (1000 * 60 * 60 * 24)) + '일';

				return date;
			}

			function timeToDate(timestamp){ // timestamp to date
				let date = "";

				timestamp = Math.floor(timestamp/1000);

				let min = Math.floor(timestamp/60);
				let sec = Math.floor(timestamp%60);

				if(min < 10){
					date += "0" + min;
				}
				else{
					date += min;
				}
				date += ":";
				if(sec < 10){
					date += "0" + sec;
				}
				else{
					date += sec;
				}

				return date;
			}

			function secToDate(time){
				var date = "";
				date += Math.floor(time/60) + "분";
				if(time % 60){
					date += " " + time % 60 + "초";
				}

				return date;
			}

			function romToNum(r){
				switch(r){
					case 'I':
						return '1';
					case 'II':
						return '2';
					case 'III':
						return '3';
					case 'IV':
						return '4';
					default:
						return '';
				}
			}

			function upToLow(s){
				var result = s[0];
				for(var i in s){
					if(i>0){
						result += s[i].toLowerCase();
					}
				}
				return result;
			}
		
	
	body(style="padding: 0; background-color: #242435; color: white;")
		input.url
		block content
		
		div.container.alert(role="alert", style="display: none;")
		
		div.indexwrap.container.align-items-center.justify-content-center.indexin(style="display: none;")
			div.index
				h1.logo JUNGLER.GG
				form#search
					div.search.input-group.mx-auto
						input.searchbar.form-control(type="text", placeholder="소환사 이름")
						div.input-group-append
							button.searchicon(type="submit")
								i.fas.fa-search
		
		
		
		div.resultwrap.justify-content-center(style="display:none;")
			div.loaderwrap
				div.loader
					div
					div
					div
					div
				div.loadertext 불러오는중
			div.navbar
				div.container
					a(href=home).navbar-brand.brand JUNGLER.GG
			div.result(style="display:none;")
				div.bg-alpha.text-center.resultarea
					div.container.position-relative
						div#icon
							img.icon
							div#level
						div#name
						div.update
							button.custombtn.updatebtn.tip
								i.fas.fa-sync-alt
							span.tooltiptext 갱신
						div.copy
							button.custombtn.copybtn.tip
								i.fas.fa-copy
							span.tooltiptext 복사
					
				div.bg-alpha.resultarea
					div.container
						div.row
							div.col.summary
								table.w-100.h-100.text-center
									tbody
										tr
											td.infotitle 모스트
											td.most
												img.champion
							div.col.summary
								table.w-100.h-100.text-center
									tbody
										tr
											td.infotitle 솔로랭크
											td
												img.soloimg.tier
												div#soloTier
							div.col.summary
								table.w-100.h-100.text-center
									tbody
										tr
											td.infotitle 자유랭크
											td
												img.freeimg.tier
												div#freeTier
				div.resultarea
					div.container
						div.row
							div.col-3
								div.bg-alpha.stat
									div.text-center.stat-title 최근 정글 전적
									div.text-center.stat-subtitle
										span.matchlength
										span 게임중 
										span.jungleplayed
										span 판 플레이
									div.row.no-gutters.align-items-center
										div.col
											div.stat-chart-title 승률
										div.col-8
											canvas(height='200').stat-chart-winrate
										div.stat-margin
										div.col
											div.stat-chart-title 성적
										div.col-8
											canvas(height='200').stat-chart-starrate
										div.stat-margin
										div.col
											div.stat-chart-title 첫용
										div.col-8
											canvas(height='200').stat-chart-firstdragon
										div.stat-margin
										div.col
											div.stat-chart-title 첫전령
										div.col-8
											canvas(height='200').stat-chart-firstrift
							div.col-9.matchlist
								
		
		div.footer.container © 2021. JUNGLER.GG isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games, and all associated properties are trademarks or registered trademarks of Riot Games, Inc.
		
		template#match
			div.match.row.no-gutters.align-items-center
				div.col-1.wininfo
					div.win
				div.col-1-5.gameinfo
					div.timestamp
					div.gameDuration
				div.col-1-5.userinfo
					div.row.no-gutters.align-items-center.userwrap
						div.col-1
						div.col-7.user
							img.champion
						div.col-auto.userspell
							img.spell1
							img.spell2
					div.userKda
				div.col-1-5.playerinfo(style="margin-right: 5px;")
					- for(p=0; p<5; p++){
						div.player
							div.championimage
								img.champion
							div.name
								div.overflow
					- }
				div.col-1-5.playerinfo
					- for(p=0; p<5; p++){
						div.player
							div.championimage
								img.champion
							div.name
								div.overflow
							- }
				div.col.junglerinfo
					div.jungler
						img.champion
						div.name
				div.col-auto.vs
						img.vsimg(src="/images/jungle.png")
				div.col.junglerinfo
					div.jungler
						img.champion
						div.name
				div.col-1.ml-auto.detail
					button.detailbtn
						div.detailtext 자세히
						i.fas.fa-angle-down.detailicon
			div.matchdetail.row.no-gutters.bg-alpha.out
				div.col
					button.btn.btn-secondary.tap.tap-sm.active 요약
				div.col
					button.btn.btn-secondary.tap.tap-tf 한타
				div.w-100
				div.col.detail-sm
					div.row.no-gutters
						- for(j=0; j<2; j++){
							div.col.detailinfo
								div.row.no-gutters
									div.col-4
										div.row.no-gutters.align-items-center.junglerdetail
											div.col
												img.champion.d-inline-block
												div.star(style="display: none;")
													i.fas.fa-star
												div.junglerspell.d-inline-block
													img.spell1
													img.spell2
												div.name
									div.col-8
										div.iteminfo
											- for(item=0; item<6; item++){
												img.item
											-}
											img.item.lastitem
										div.dragoninfo
									div.w-100.margin
									div.col-6
										div.kda
										div.text-center.kda-ratio
											span KDA
											span.ratio
										div.badgeinfo
									div.col-6
										canvas.poschart
						- }
						div.w-100
						div.col.chartinfo
							canvas.detailchart
				div.col.detail-tf(style="display: none;")
					div.timeline
						div.timeline-line
						
		template#timeline-element
			div.timeline-element
								
		template#timeline-content
			div.timeline-content
				div.timeline-dot
					i.far.fa-dot-circle
				div.timeline-time timestamp
				div.timeline-title
				
		template#timeline-champion
			img.timeline-champion
			
		template#timeline-assist
			img.timeline-assist
			
		template#timeline-message
			span.timeline-message